##we are using csv file containing home prices of banglore city

we'll load important dataset and libraries required for our model

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [82]:
%%HTML
<h1>here is your home prediction</h1>
<img src="james-day-GQ7rWcMUwtE-unsplash.jpg" width="900px"/>
#toa-heftiba-4t8_1MKvPd8-unsplash.jpg
<img src="toa-heftiba-4t8_1MKvPd8-unsplash.jpg" width="900px"/>

In [3]:
len(df)

13320

we are removing unwanted columns not required for our prediction model!!

In [2]:
df=pd.read_csv('houseprices.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.drop(["availability","area_type","society"],axis=1,inplace=True)
df

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13316             Richards Town      4 BHK       3600   5.0      NaN  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[13320 rows x 6 columns]

In [5]:
df.shape

(13320, 6)

In [6]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

# prices are in lakhs ,from describe method we find we have many NAN values,|

In [7]:
df.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [8]:
df=df.dropna()

In [9]:
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [10]:
len(df)

12710

In [11]:
df

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13314         Green Glen Layout      3 BHK       1715   3.0      3.0  112.00
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[12710 rows x 6 columns]

In [12]:
df["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [13]:
def one(x):
    lst=x.split()
    return float(lst[0])

In [14]:
df["bhk"]=df['size'].apply(one)

C:\Users\naina\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df

,location,size,total_sqft,bath,balcony,price,bhk
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2.0
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4.0
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3.0
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3.0
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,2.0
...,...,...,...,...,...,...,...
13314,Green Glen Layout,3 BHK,1715,3.0,3.0,112.00,3.0
13315,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5.0
13317,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2.0
13318,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4.0
13319,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1.0

In [16]:
df.bhk.unique()

array([ 2.,  4.,  3.,  1.,  6.,  8.,  7.,  5., 11.,  9., 27., 43., 14.,
       12., 10., 13.])

In [17]:
df.drop(["size"],axis=1,inplace=True)
df

C:\Users\naina\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                       location total_sqft  bath  balcony   price  bhk
0      Electronic City Phase II       1056   2.0      1.0   39.07  2.0
1              Chikka Tirupathi       2600   5.0      3.0  120.00  4.0
2                   Uttarahalli       1440   2.0      3.0   62.00  3.0
3            Lingadheeranahalli       1521   3.0      1.0   95.00  3.0
4                      Kothanur       1200   2.0      1.0   51.00  2.0
...                         ...        ...   ...      ...     ...  ...
13314         Green Glen Layout       1715   3.0      3.0  112.00  3.0
13315                Whitefield       3453   4.0      0.0  231.00  5.0
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00  2.0
13318           Padmanabhanagar       4689   4.0      1.0  488.00  4.0
13319              Doddathoguru        550   1.0      1.0   17.00  1.0

[12710 rows x 6 columns]

In [18]:
df["balcony"].unique()

array([1., 3., 2., 0.])

In [19]:
len(df.location.unique())

1265

In [20]:
df[df.bhk>20]

                       location total_sqft  bath  balcony  price   bhk
1718  2Electronic City Phase II       8000  27.0      0.0  230.0  27.0
4684                Munnekollal       2400  40.0      0.0  660.0  43.0

In [21]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [22]:
def convert(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [23]:
convert('300-500')

400.0

In [24]:
df["area"]=df["total_sqft"].apply(convert)
df

C:\Users\naina\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       location total_sqft  bath  balcony   price  bhk    area
0      Electronic City Phase II       1056   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi       2600   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli       1440   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli       1521   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur       1200   2.0      1.0   51.00  2.0  1200.0
...                         ...        ...   ...      ...     ...  ...     ...
13314         Green Glen Layout       1715   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield       3453   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar       4689   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru        550   1.0      1.0   17.00  1.0   550.0

[12710 rows x 7 columns]

In [25]:
df.area.unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [26]:
df.drop(["total_sqft"],axis=1,inplace=True)
df

C:\Users\naina\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

# have managed area by now by bringing into one scale type##

In [27]:
df["location"].apply(lambda x:x.strip())
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [28]:
locationcount=df.groupby("location")["location"].agg('count').sort_values(ascending=False)
locationcount

location
Whitefield                            514
Sarjapur  Road                        372
Electronic City                       300
Kanakpura Road                        261
Thanisandra                           231
                                     ...
Kengeri Satellite Town ( BDA SITE)      1
Kenchanehalli R R Nagar                 1
Keerthi Layout                          1
Kathriguppe IV Phase                    1
 Anekal                                 1
Name: location, Length: 1265, dtype: int64

In [29]:
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [30]:
lessthan10=locationcount[locationcount<=10]
lessthan10

location
Naganathapura                         10
HAL 2nd Stage                         10
Kalkere                               10
Dairy Circle                          10
Basapura                              10
                                      ..
Kengeri Satellite Town ( BDA SITE)     1
Kenchanehalli R R Nagar                1
Keerthi Layout                         1
Kathriguppe IV Phase                   1
 Anekal                                1
Name: location, Length: 1028, dtype: int64

In [31]:
len(lessthan10)

1028

In [32]:
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [33]:
df["location"]=df.location.apply(lambda x:"others" if x in lessthan10 else x)

C:\Users\naina\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [35]:
len(df.location.unique())

238

In [36]:
df.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli',
       'Lingadheeranahalli', 'Kothanur', 'Whitefield', 'Marathahalli',
       '7th Phase JP Nagar', 'Gottigere', 'Sarjapur', 'Mysore Road',
       'Bisuvanahalli', 'Raja Rajeshwari Nagar', 'others', 'Kengeri',
       'Binny Pete', 'Thanisandra', 'Bellandur', 'Electronic City',
       'Ramagondanahalli', 'Yelahanka', 'Hebbal', 'Kanakpura Road',
       'Electronics City Phase 1', 'Kundalahalli', 'Chikkalasandra',
       'Sarjapur  Road', 'Doddathoguru', 'KR Puram', 'Bhoganhalli',
       'Lakshminarayana Pura', 'Begur Road', 'Murugeshpalya', 'Varthur',
       'Bommanahalli', 'Gunjur', 'Hegde Nagar', 'Haralur Road',
       'Hennur Road', 'Kothannur', 'Kalena Agrahara', 'Kaval Byrasandra',
       'ISRO Layout', 'Garudachar Palya', 'EPIP Zone', 'Dasanapura',
       'Kasavanhalli', 'Rajaji Nagar', 'Sanjay nagar', 'Domlur',
       'Sarjapura - Attibele Road', 'Yeshwanthpur', 'Chandapura',
       'Nagarbhavi', 'Devanahalli', 'Ramamurthy Nagar', 'Malleshwaram',
       'Akshaya Nagar', 'Shampura', 'Kadugodi', 'LB Shastri Nagar',
       'Hormavu', 'Vishwapriya Layout', 'Kudlu Gate',
       '8th Phase JP Nagar', 'Bommasandra Industrial Area', 'Anandapura',
       'Vishveshwarya Layout', 'Kengeri Satellite Town', 'Kannamangala',
       ' Devarachikkanahalli', 'Hulimavu', 'Mahalakshmi Layout',
       'Hosa Road', 'Attibele', 'CV Raman Nagar', 'Kumaraswami Layout',
       'Nagavara', 'Hebbal Kempapura', 'Vijayanagar',
       'Pattandur Agrahara', 'HSR Layout', 'Nagasandra', 'Kogilu',
       'Panathur', 'Padmanabhanagar', '1st Block Jayanagar',
       'Kammasandra', 'Dasarahalli', 'Magadi Road', 'Koramangala',
       'Dommasandra', 'Budigere', 'Kalyan nagar', 'OMBR Layout',
       'Horamavu Agara', 'Ambedkar Nagar', 'Talaghattapura', 'Balagere',
       'Jigani', 'Gollarapalya Hosahalli', 'Old Madras Road',
       'Kaggadasapura', '9th Phase JP Nagar', 'Jakkur', 'TC Palaya',
       'Giri Nagar', 'Singasandra', 'AECS Layout', 'Mallasandra', 'Begur',
       'JP Nagar', 'Malleshpalya', 'Munnekollal', 'Kaggalipura',
       '6th Phase JP Nagar', 'Ulsoor', 'Thigalarapalya',
       'Somasundara Palya', 'Basaveshwara Nagar', 'Bommasandra',
       'Ardendale', 'Harlur', 'Kodihalli', 'Narayanapura',
       'Bannerghatta Road', 'Hennur', '5th Phase JP Nagar', 'Kodigehaali',
       'Billekahalli', 'Jalahalli', 'Anekal', 'Sompura', 'Dodda Nekkundi',
       'Hosur Road', 'Battarahalli', 'Sultan Palaya', 'Ambalipura',
       'Hoodi', 'Brookefield', 'Yelenahalli', 'Vittasandra',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Amruthahalli',
       'Subramanyapura', 'Basavangudi', 'Kenchenahalli', 'Banjara Layout',
       'Kereguddadahalli', 'Kambipura', 'Banashankari Stage III',
       'Sector 7 HSR Layout', 'Rajiv Nagar', 'Arekere', 'Mico Layout',
       'Kammanahalli', 'Banashankari', 'Chikkabanavar', 'HRBR Layout',
       'Kanakapura', 'Konanakunte', 'Margondanahalli', 'R.T. Nagar',
       'Tumkur Road', 'Vasanthapura', 'GM Palaya', 'Mahadevpura',
       'Jalahalli East', 'Hosakerehalli', 'Indira Nagar',
       'Kodichikkanahalli', 'Varthur Road', 'Anjanapura', 'Abbigere',
       'Tindlu', 'Gubbalala', 'Parappana Agrahara', 'Cunningham Road',
       'Kudlu', 'Old Airport Road', 'Banashankari Stage VI', 'Cox Town',
       'Kathriguppe', 'HBR Layout', 'Yelahanka New Town',
       'Sahakara Nagar', 'Rachenahalli', 'Yelachenahalli',
       'Kasturi Nagar', 'Green Glen Layout', 'Thubarahalli',
       'Horamavu Banaswadi', '1st Phase JP Nagar', 'NGR Layout',
       'Seegehalli', 'BEML Layout', 'NRI Layout', 'ITPL', 'Babusapalaya',
       'Iblur Village', 'Ananth Nagar', 'Channasandra', 'Choodasandra',
       'Kaikondrahalli', 'Neeladri Nagar', 'Frazer Town', 'Cooke Town',
       'Doddakallasandra', 'Chamrajpet', 'Rayasandra', 'Pai Layout',
       'Banashankari Stage V', 'Sonnenahalli',
       '2nd Phase Judicial Layout', 'Poorna Pragna Layout',
       'Judicial Layout', 'Banashankari Stage II', 'Bannerghatta',
       'Marsur', 'Karuna Nagar', 'Bommenahalli', 'Laggere',
       'Prithvi Layout', 'Banaswadi', 'Sector 2 HSR Layout',
       'Shivaji Nagar', 'Badavala Nagar', 'Nagavarapalya', 'BTM Layout',
       'BTM 2nd Stage', 'Hoskote', 'Doddaballapur', 'Sarakki Nagar',
       'Thyagaraja Nagar', 'Bharathi Nagar', 'Benson Town',
       'Kadubeesanahalli'], dtype=object)

In [37]:
df.head(400)

                     location  bath  balcony   price  bhk    area
0    Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1            Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                 Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3          Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                    Kothanur   2.0      1.0   51.00  2.0  1200.0
..                        ...   ...      ...     ...  ...     ...
414            Kanakpura Road   3.0      3.0   64.50  3.0  1550.0
415                    others   3.0      2.0   88.00  3.0  1760.0
416              Billekahalli   2.0      2.0   62.00  2.0  1125.0
417                Nagarbhavi   3.0      2.0  150.00  3.0  1350.0
418                Anandapura   2.0      1.0   55.00  2.0  1000.0

[400 rows x 6 columns]

In [38]:
df.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli',
       'Lingadheeranahalli', 'Kothanur', 'Whitefield', 'Marathahalli',
       '7th Phase JP Nagar', 'Gottigere', 'Sarjapur', 'Mysore Road',
       'Bisuvanahalli', 'Raja Rajeshwari Nagar', 'others', 'Kengeri',
       'Binny Pete', 'Thanisandra', 'Bellandur', 'Electronic City',
       'Ramagondanahalli', 'Yelahanka', 'Hebbal', 'Kanakpura Road',
       'Electronics City Phase 1', 'Kundalahalli', 'Chikkalasandra',
       'Sarjapur  Road', 'Doddathoguru', 'KR Puram', 'Bhoganhalli',
       'Lakshminarayana Pura', 'Begur Road', 'Murugeshpalya', 'Varthur',
       'Bommanahalli', 'Gunjur', 'Hegde Nagar', 'Haralur Road',
       'Hennur Road', 'Kothannur', 'Kalena Agrahara', 'Kaval Byrasandra',
       'ISRO Layout', 'Garudachar Palya', 'EPIP Zone', 'Dasanapura',
       'Kasavanhalli', 'Rajaji Nagar', 'Sanjay nagar', 'Domlur',
       'Sarjapura - Attibele Road', 'Yeshwanthpur', 'Chandapura',
       'Nagarbhavi', 'Devanahalli', 'Ramamurthy Nagar', 'Malleshwaram',
       'Akshaya Nagar', 'Shampura', 'Kadugodi', 'LB Shastri Nagar',
       'Hormavu', 'Vishwapriya Layout', 'Kudlu Gate',
       '8th Phase JP Nagar', 'Bommasandra Industrial Area', 'Anandapura',
       'Vishveshwarya Layout', 'Kengeri Satellite Town', 'Kannamangala',
       ' Devarachikkanahalli', 'Hulimavu', 'Mahalakshmi Layout',
       'Hosa Road', 'Attibele', 'CV Raman Nagar', 'Kumaraswami Layout',
       'Nagavara', 'Hebbal Kempapura', 'Vijayanagar',
       'Pattandur Agrahara', 'HSR Layout', 'Nagasandra', 'Kogilu',
       'Panathur', 'Padmanabhanagar', '1st Block Jayanagar',
       'Kammasandra', 'Dasarahalli', 'Magadi Road', 'Koramangala',
       'Dommasandra', 'Budigere', 'Kalyan nagar', 'OMBR Layout',
       'Horamavu Agara', 'Ambedkar Nagar', 'Talaghattapura', 'Balagere',
       'Jigani', 'Gollarapalya Hosahalli', 'Old Madras Road',
       'Kaggadasapura', '9th Phase JP Nagar', 'Jakkur', 'TC Palaya',
       'Giri Nagar', 'Singasandra', 'AECS Layout', 'Mallasandra', 'Begur',
       'JP Nagar', 'Malleshpalya', 'Munnekollal', 'Kaggalipura',
       '6th Phase JP Nagar', 'Ulsoor', 'Thigalarapalya',
       'Somasundara Palya', 'Basaveshwara Nagar', 'Bommasandra',
       'Ardendale', 'Harlur', 'Kodihalli', 'Narayanapura',
       'Bannerghatta Road', 'Hennur', '5th Phase JP Nagar', 'Kodigehaali',
       'Billekahalli', 'Jalahalli', 'Anekal', 'Sompura', 'Dodda Nekkundi',
       'Hosur Road', 'Battarahalli', 'Sultan Palaya', 'Ambalipura',
       'Hoodi', 'Brookefield', 'Yelenahalli', 'Vittasandra',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Amruthahalli',
       'Subramanyapura', 'Basavangudi', 'Kenchenahalli', 'Banjara Layout',
       'Kereguddadahalli', 'Kambipura', 'Banashankari Stage III',
       'Sector 7 HSR Layout', 'Rajiv Nagar', 'Arekere', 'Mico Layout',
       'Kammanahalli', 'Banashankari', 'Chikkabanavar', 'HRBR Layout',
       'Kanakapura', 'Konanakunte', 'Margondanahalli', 'R.T. Nagar',
       'Tumkur Road', 'Vasanthapura', 'GM Palaya', 'Mahadevpura',
       'Jalahalli East', 'Hosakerehalli', 'Indira Nagar',
       'Kodichikkanahalli', 'Varthur Road', 'Anjanapura', 'Abbigere',
       'Tindlu', 'Gubbalala', 'Parappana Agrahara', 'Cunningham Road',
       'Kudlu', 'Old Airport Road', 'Banashankari Stage VI', 'Cox Town',
       'Kathriguppe', 'HBR Layout', 'Yelahanka New Town',
       'Sahakara Nagar', 'Rachenahalli', 'Yelachenahalli',
       'Kasturi Nagar', 'Green Glen Layout', 'Thubarahalli',
       'Horamavu Banaswadi', '1st Phase JP Nagar', 'NGR Layout',
       'Seegehalli', 'BEML Layout', 'NRI Layout', 'ITPL', 'Babusapalaya',
       'Iblur Village', 'Ananth Nagar', 'Channasandra', 'Choodasandra',
       'Kaikondrahalli', 'Neeladri Nagar', 'Frazer Town', 'Cooke Town',
       'Doddakallasandra', 'Chamrajpet', 'Rayasandra', 'Pai Layout',
       'Banashankari Stage V', 'Sonnenahalli',
       '2nd Phase Judicial Layout', 'Poorna Pragna Layout',
       'Judicial Layout', 'Banashankari Stage II', 'Bannerghatta',
       'Marsur', 'Karuna Nagar', 'Bommenahalli', 'Laggere',
       'Prithvi Layout', 'Banaswadi', 'Sector 2 HSR Layout',
       'Shivaji Nagar', 'Badavala Nagar', 'Nagavarapalya', 'BTM Layout',
       'BTM 2nd Stage', 'Hoskote', 'Doddaballapur', 'Sarakki Nagar',
       'Thyagaraja Nagar', 'Bharathi Nagar', 'Benson Town',
       'Kadubeesanahalli'], dtype=object)

In [39]:
dummies=pd.get_dummies(df.location)

In [40]:
dummies

,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df=pd.concat([df,dummies],axis=1)
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df=df[(df.area/df.bhk>300)]
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
df["persq"]=(df.price*100000)/df.area

C:\Users\naina\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10407.336319
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [45]:
mean=6122.582987
std=3895.257533

mean-std

2227.325454

In [46]:
df.persq.describe()

count     11847.000000
mean       6122.582987
std        3895.257533
min         267.829813
25%        4187.716982
50%        5227.272727
75%        6750.000000
max      176470.588235
Name: persq, dtype: float64

# average rooms are supposed to be minimum 300 and we have to remove outliers##

In [47]:
dfp=df[mean-std<df.persq ]
dfp

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10407.336319
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [48]:
df=dfp[df.persq<mean+std ]
df

C:\Users\naina\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4237.918216
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [49]:

df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4237.918216
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [50]:
df.persq.describe()

count    10811.000000
mean      5302.477381
std       1591.662966
min       2248.126561
25%       4100.505063
50%       5033.557047
75%       6283.269663
max      10017.574692
Name: persq, dtype: float64

In [51]:
df=df[df.bath<=df.bhk+2]
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4237.918216
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [52]:
df.drop(["persq"],axis=1,inplace=True)
df

C:\Users\naina\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
from sklearn import linear_model
model=linear_model.LinearRegression()

In [54]:
df.drop(["location"],axis=1,inplace=True)
df

C:\Users\naina\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,17.00,1.0,550.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
x=df.drop(["price"],axis=1)
x

,bath,balcony,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,2.0,1.0,2.0,1056.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,4.0,2600.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,3.0,1440.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,3.0,1521.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,2.0,1200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,1.0,3.0,1345.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,3.0,1715.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,0.0,5.0,3453.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,2.0,1.0,2.0,1141.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,1.0,550.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
x.drop(["others"],axis=1,inplace=True)
x

,bath,balcony,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2.0,1.0,2.0,1056.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,4.0,2600.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,3.0,1440.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,3.0,1521.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,2.0,1200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,1.0,3.0,1345.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,3.0,1715.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,0.0,5.0,3453.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13317,2.0,1.0,2.0,1141.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,1.0,550.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
x.drop(["balcony"],axis=1,inplace=True)
x

,bath,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2.0,2.0,1056.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,4.0,2600.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,1440.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,3.0,1521.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,3.0,1345.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,1715.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,5.0,3453.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13317,2.0,2.0,1141.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,550.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
y=df.price
y

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
13313     57.00
13314    112.00
13315    231.00
13317     60.00
13319     17.00
Name: price, Length: 10808, dtype: float64

In [59]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
model.score(x,y)

0.8371392253153708

In [61]:
model.coef_

array([ 6.56790887e+00, -7.77493741e+00,  6.85139926e-02, -1.32781689e+01,
        1.55269763e+00,  3.24500746e+01, -1.46322048e+01, -8.57889528e+00,
       -4.69597290e+00,  1.60266238e+01,  8.08352039e+00, -1.33133517e+01,
       -9.86971664e+00, -9.27044105e+00, -1.87476015e+01, -2.74649865e+00,
        1.29740483e+01,  1.13471281e+01, -1.18635914e+00, -1.01038048e+01,
       -1.77372385e+01, -1.14847872e+01, -9.47344542e+00,  5.25461287e+00,
        2.11898150e+00, -8.18571303e+00,  2.78981354e+00,  7.53805060e+00,
        4.20958750e+00, -1.55091877e+01,  1.09109474e+01,  8.52582776e+00,
        1.11820572e+00,  3.09267631e+01,  5.77605911e+00, -2.46036700e+01,
       -2.67501114e+01, -2.29076114e+00, -1.73028664e+01,  1.92558697e+01,
       -5.00171803e+00,  4.68040733e+01,  2.70519902e+01, -1.83000555e+01,
       -1.21700086e+01, -2.01908172e+01,  1.71600149e+00,  4.02751339e+01,
       -1.03096897e+01,  7.56915906e+00,  4.07316477e+00,  3.60372156e+01,
       -6.42384330e+00, -1.36282189e+01, -1.35748753e+01, -2.50114110e+01,
        4.78002971e+01,  6.04067096e+00, -8.33079388e+00,  4.11494988e+00,
        2.93766027e+01, -1.90889622e+01, -1.62286109e+01, -5.01912959e+01,
       -3.12891654e+01, -9.16530003e+00, -2.88309571e+00,  2.85798729e+01,
        2.59996553e+01, -2.86905055e+10, -2.48083652e+00, -2.74379917e+00,
        3.48060395e+00, -7.44279169e+00,  1.58519430e+01, -1.59497480e+01,
       -1.48077519e+01,  2.94728130e+01, -2.41443491e+01,  5.61533891e+00,
       -8.11769391e+00, -1.90758648e+01, -7.13675244e+00,  5.34746120e+01,
       -1.12499427e+01, -2.15253675e+00, -4.20345084e+00, -1.42143025e+01,
       -1.31174759e+01,  1.14944978e+01, -4.96772132e+00, -1.77650100e+01,
        1.31861227e+01,  1.85972225e+01, -3.44986993e+00, -5.42998755e+00,
        1.17712144e+01,  2.25544493e+01,  3.51943574e+01,  1.95060199e+01,
       -9.19118308e+00,  6.06311043e+00,  3.32596062e+00, -1.19184809e+01,
       -1.40962202e+01, -7.47316200e+00, -1.99444147e+00, -2.61058916e+00,
       -2.26693047e+01,  7.30081342e+00,  1.47233954e+00, -5.15170366e+00,
       -1.42449661e+01,  3.40187213e+01,  4.11358241e+01,  1.46157460e+00,
        1.22835853e+01,  1.15210534e+01, -1.81976032e+00,  1.24721160e-01,
        7.66115594e+00, -1.28095391e+01,  3.09584551e+00, -1.49763102e+01,
       -1.38323163e+01,  4.70165185e+00,  1.34233620e+00,  1.24541633e+00,
       -1.34790270e+01, -1.48547283e+00,  1.21688352e+01, -1.84001548e+01,
       -9.00541528e+00, -2.50690082e+00,  3.04820593e+00,  2.30895230e+01,
        2.23307576e+00,  6.41725547e+00,  9.26059450e+00, -4.13125761e+00,
        6.30125174e-01, -6.35961503e+00, -8.42104483e+00, -2.00293504e+01,
       -1.27083139e+01, -1.73581597e+00,  4.77518346e+01, -5.03294597e+00,
        2.50106940e+01,  2.60944385e+01, -1.91025787e+01, -6.08991441e+00,
       -5.40305893e+00, -6.23860823e+00, -7.42200182e+00,  2.04913299e+01,
       -4.62741255e+00, -1.69978031e+01,  2.25340819e+01,  1.42848985e+01,
       -6.13941925e-02, -5.66133457e+00,  3.05170724e+01, -8.09325563e+00,
       -6.86358033e+00,  3.66607708e+01,  1.50407028e+00, -2.56448512e+00,
        3.26832205e+01, -2.25802489e+01, -2.24683620e+01,  2.97409574e+00,
        2.30901567e+00, -6.87166518e+00, -1.32706198e+01, -1.56631735e+00,
       -1.76356126e+01, -9.65705544e+00,  2.01205450e+01, -3.22115719e+00,
       -1.60022156e+01,  1.34732637e+01,  2.26569340e+01, -5.04380548e+00,
        8.59339190e+00, -7.92542999e+00,  5.61860154e+00, -1.86797511e+01,
       -6.09890182e+00, -1.18236540e+01,  1.93200794e+01, -3.57422607e+00,
       -2.97550731e+00, -1.66937075e+01,  4.69870421e+01,  9.55648441e+00,
       -3.38934733e+00, -8.16640438e+00, -1.34280458e+01,  6.89988910e+00,
        2.14136978e+01,  4.48828213e+01, -1.24079727e+01,  5.58176159e+00,
       -1.71081948e+01,  1.03449377e+01,  4.73428609e+01, -4.34285967e+00,
       -1.40375327e+01,  1.64801944e+01, -1.28838175e+01, -1.07114908e+01,
       -1.55774461e+01, -7.76050702e+00,  3.21300614e-01, -2.91614262e+00,
        4.77523688e-01,  5.06001359e+00, -1.55208031e+00,  2.37606036e+01,
        4.38938219e+00,  2.11295292e+01, -9.05585692e+00,  2.48306124e+00,
        2.06575653e+01, -1.41868733e+01, -6.44666764e+00, -9.13097423e+00,
       -1.59934602e+01, -1.05118103e+01,  1.25857831e+01, -2.49574709e+01,
       -1.60126546e+01, -6.95283819e+00,  6.86973660e-01,  3.76496122e+00,
       -4.57772509e+00, -1.86664833e+00, -1.86295639e+01,  1.21328829e+01])

In [62]:
model.intercept_

-14.220542224150677

In [63]:
len(x.columns)

240

In [64]:
x.columns

Index(['bath', 'bhk', 'area', ' Devarachikkanahalli', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Phase JP Nagar', '6th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=240)

In [65]:
def premodel (bath,bhk,area,location):
    p=np.zeros(240)
    p[0]=bath
    p[1]=bhk
    p[2]=area
    for i in range(239):
        if x.columns[i]==location:
            p[i]=1
    return model.predict([p])

In [66]:
premodel(3,4,3500, 'Vittasandra')

array([207.22957065])

In [67]:
from sklearn.neighbors import KNeighborsRegressor
model2=KNeighborsRegressor()

In [68]:
model2.fit(x,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [69]:
model2.score(x,y)

0.8532515412639015

In [70]:
def premodel2 (bath,bhk,area,location):
    p=np.zeros(240)
    p[0]=bath
    p[1]=bhk
    p[2]=area
    for i in range(239):
        if x.columns[i]==location:
            p[i]=1
    return model2.predict([p])

In [78]:
premodel2(3,3,4550,'Vittasandra')

array([274.])

In [76]:
import pickle
with open('banglore price model.pickle','wb')as m:
    pickle.dump(model,m)

In [73]:
import pickle
with open('banglore price model2.pickle','wb')as m2:
    pickle.dump(model2,m2)