##we are using csv file containing home prices of banglore city

we'll load important dataset and libraries required for our model

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
%%HTML
<h1>here is your home prediction</h1>
<img src="james-day-GQ7rWcMUwtE-unsplash.jpg" width="900px"/>
#toa-heftiba-4t8_1MKvPd8-unsplash.jpg
<img src="toa-heftiba-4t8_1MKvPd8-unsplash.jpg" width="900px"/>

we are removing unwanted columns not required for our prediction model!!

In [3]:
df=pd.read_csv('banglore.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.drop(["availability","area_type","society"],axis=1,inplace=True)
df

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13316             Richards Town      4 BHK       3600   5.0      NaN  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[13320 rows x 6 columns]

In [5]:
df.shape

(13320, 6)

In [6]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

# prices are in lakhs ,from describe method we find we have many NAN values,|

In [7]:
df.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [8]:
df=df.dropna()

In [9]:
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [10]:
len(df)

12710

In [11]:
df

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13314         Green Glen Layout      3 BHK       1715   3.0      3.0  112.00
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[12710 rows x 6 columns]

In [12]:
df["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [13]:
def one(x):
    lst=x.split()
    return float(lst[0])

In [14]:
df["bhk"]=df['size'].apply(one)

C:\Users\soumy\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df

,location,size,total_sqft,bath,balcony,price,bhk
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2.0
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4.0
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3.0
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3.0
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,2.0
...,...,...,...,...,...,...,...
13314,Green Glen Layout,3 BHK,1715,3.0,3.0,112.00,3.0
13315,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5.0
13317,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2.0
13318,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4.0
13319,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1.0

In [16]:
df.bhk.unique()

array([ 2.,  4.,  3.,  1.,  6.,  8.,  7.,  5., 11.,  9., 27., 43., 14.,
       12., 10., 13.])

In [17]:
df.drop(["size"],axis=1,inplace=True)
df

C:\Users\soumy\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                       location total_sqft  bath  balcony   price  bhk
0      Electronic City Phase II       1056   2.0      1.0   39.07  2.0
1              Chikka Tirupathi       2600   5.0      3.0  120.00  4.0
2                   Uttarahalli       1440   2.0      3.0   62.00  3.0
3            Lingadheeranahalli       1521   3.0      1.0   95.00  3.0
4                      Kothanur       1200   2.0      1.0   51.00  2.0
...                         ...        ...   ...      ...     ...  ...
13314         Green Glen Layout       1715   3.0      3.0  112.00  3.0
13315                Whitefield       3453   4.0      0.0  231.00  5.0
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00  2.0
13318           Padmanabhanagar       4689   4.0      1.0  488.00  4.0
13319              Doddathoguru        550   1.0      1.0   17.00  1.0

[12710 rows x 6 columns]

In [18]:
df["balcony"].unique()

array([1., 3., 2., 0.])

In [19]:
len(df.location.unique())

1265

In [20]:
df[df.bhk>20]

                       location total_sqft  bath  balcony  price   bhk
1718  2Electronic City Phase II       8000  27.0      0.0  230.0  27.0
4684                Munnekollal       2400  40.0      0.0  660.0  43.0

In [21]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [22]:
def convert(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [23]:
convert('300-500')

400.0

In [24]:
df["area"]=df["total_sqft"].apply(convert)
df

C:\Users\soumy\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       location total_sqft  bath  balcony   price  bhk    area
0      Electronic City Phase II       1056   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi       2600   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli       1440   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli       1521   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur       1200   2.0      1.0   51.00  2.0  1200.0
...                         ...        ...   ...      ...     ...  ...     ...
13314         Green Glen Layout       1715   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield       3453   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar       4689   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru        550   1.0      1.0   17.00  1.0   550.0

[12710 rows x 7 columns]

In [25]:
df.area.unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [26]:
df.drop(["total_sqft"],axis=1,inplace=True)
df

C:\Users\soumy\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

# have managed area by now by bringing into one scale type##

In [27]:
df["location"].apply(lambda x:x.strip())
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [28]:
locationcount=df.groupby("location")["location"].agg('count').sort_values(ascending=False)
locationcount

location
Whitefield                            514
Sarjapur  Road                        372
Electronic City                       300
Kanakpura Road                        261
Thanisandra                           231
                                     ...
Kengeri Satellite Town ( BDA SITE)      1
Kenchanehalli R R Nagar                 1
Keerthi Layout                          1
Kathriguppe IV Phase                    1
 Anekal                                 1
Name: location, Length: 1265, dtype: int64

In [29]:
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [30]:
lessthan10=locationcount[locationcount<=10]
lessthan10

location
Naganathapura                         10
HAL 2nd Stage                         10
Kalkere                               10
Dairy Circle                          10
Basapura                              10
                                      ..
Kengeri Satellite Town ( BDA SITE)     1
Kenchanehalli R R Nagar                1
Keerthi Layout                         1
Kathriguppe IV Phase                   1
 Anekal                                1
Name: location, Length: 1028, dtype: int64

In [31]:
len(lessthan10)

1028

In [32]:
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [33]:
df["location"]=df.location.apply(lambda x:"others" if x in lessthan10 else x)

C:\Users\soumy\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df

                       location  bath  balcony   price  bhk    area
0      Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1              Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                   Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3            Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                      Kothanur   2.0      1.0   51.00  2.0  1200.0
...                         ...   ...      ...     ...  ...     ...
13314         Green Glen Layout   3.0      3.0  112.00  3.0  1715.0
13315                Whitefield   4.0      0.0  231.00  5.0  3453.0
13317     Raja Rajeshwari Nagar   2.0      1.0   60.00  2.0  1141.0
13318           Padmanabhanagar   4.0      1.0  488.00  4.0  4689.0
13319              Doddathoguru   1.0      1.0   17.00  1.0   550.0

[12710 rows x 6 columns]

In [35]:
len(df.location.unique())

238

In [36]:
df.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli',
       'Lingadheeranahalli', 'Kothanur', 'Whitefield', 'Marathahalli',
       '7th Phase JP Nagar', 'Gottigere', 'Sarjapur', 'Mysore Road',
       'Bisuvanahalli', 'Raja Rajeshwari Nagar', 'others', 'Kengeri',
       'Binny Pete', 'Thanisandra', 'Bellandur', 'Electronic City',
       'Ramagondanahalli', 'Yelahanka', 'Hebbal', 'Kanakpura Road',
       'Electronics City Phase 1', 'Kundalahalli', 'Chikkalasandra',
       'Sarjapur  Road', 'Doddathoguru', 'KR Puram', 'Bhoganhalli',
       'Lakshminarayana Pura', 'Begur Road', 'Murugeshpalya', 'Varthur',
       'Bommanahalli', 'Gunjur', 'Hegde Nagar', 'Haralur Road',
       'Hennur Road', 'Kothannur', 'Kalena Agrahara', 'Kaval Byrasandra',
       'ISRO Layout', 'Garudachar Palya', 'EPIP Zone', 'Dasanapura',
       'Kasavanhalli', 'Rajaji Nagar', 'Sanjay nagar', 'Domlur',
       'Sarjapura - Attibele Road', 'Yeshwanthpur', 'Chandapura',
       'Nagarbhavi', 'Devanahalli', 'Ramamurthy Nagar', 'Malleshwaram',
       'Akshaya Nagar', 'Shampura', 'Kadugodi', 'LB Shastri Nagar',
       'Hormavu', 'Vishwapriya Layout', 'Kudlu Gate',
       '8th Phase JP Nagar', 'Bommasandra Industrial Area', 'Anandapura',
       'Vishveshwarya Layout', 'Kengeri Satellite Town', 'Kannamangala',
       ' Devarachikkanahalli', 'Hulimavu', 'Mahalakshmi Layout',
       'Hosa Road', 'Attibele', 'CV Raman Nagar', 'Kumaraswami Layout',
       'Nagavara', 'Hebbal Kempapura', 'Vijayanagar',
       'Pattandur Agrahara', 'HSR Layout', 'Nagasandra', 'Kogilu',
       'Panathur', 'Padmanabhanagar', '1st Block Jayanagar',
       'Kammasandra', 'Dasarahalli', 'Magadi Road', 'Koramangala',
       'Dommasandra', 'Budigere', 'Kalyan nagar', 'OMBR Layout',
       'Horamavu Agara', 'Ambedkar Nagar', 'Talaghattapura', 'Balagere',
       'Jigani', 'Gollarapalya Hosahalli', 'Old Madras Road',
       'Kaggadasapura', '9th Phase JP Nagar', 'Jakkur', 'TC Palaya',
       'Giri Nagar', 'Singasandra', 'AECS Layout', 'Mallasandra', 'Begur',
       'JP Nagar', 'Malleshpalya', 'Munnekollal', 'Kaggalipura',
       '6th Phase JP Nagar', 'Ulsoor', 'Thigalarapalya',
       'Somasundara Palya', 'Basaveshwara Nagar', 'Bommasandra',
       'Ardendale', 'Harlur', 'Kodihalli', 'Narayanapura',
       'Bannerghatta Road', 'Hennur', '5th Phase JP Nagar', 'Kodigehaali',
       'Billekahalli', 'Jalahalli', 'Anekal', 'Sompura', 'Dodda Nekkundi',
       'Hosur Road', 'Battarahalli', 'Sultan Palaya', 'Ambalipura',
       'Hoodi', 'Brookefield', 'Yelenahalli', 'Vittasandra',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Amruthahalli',
       'Subramanyapura', 'Basavangudi', 'Kenchenahalli', 'Banjara Layout',
       'Kereguddadahalli', 'Kambipura', 'Banashankari Stage III',
       'Sector 7 HSR Layout', 'Rajiv Nagar', 'Arekere', 'Mico Layout',
       'Kammanahalli', 'Banashankari', 'Chikkabanavar', 'HRBR Layout',
       'Kanakapura', 'Konanakunte', 'Margondanahalli', 'R.T. Nagar',
       'Tumkur Road', 'Vasanthapura', 'GM Palaya', 'Mahadevpura',
       'Jalahalli East', 'Hosakerehalli', 'Indira Nagar',
       'Kodichikkanahalli', 'Varthur Road', 'Anjanapura', 'Abbigere',
       'Tindlu', 'Gubbalala', 'Parappana Agrahara', 'Cunningham Road',
       'Kudlu', 'Old Airport Road', 'Banashankari Stage VI', 'Cox Town',
       'Kathriguppe', 'HBR Layout', 'Yelahanka New Town',
       'Sahakara Nagar', 'Rachenahalli', 'Yelachenahalli',
       'Kasturi Nagar', 'Green Glen Layout', 'Thubarahalli',
       'Horamavu Banaswadi', '1st Phase JP Nagar', 'NGR Layout',
       'Seegehalli', 'BEML Layout', 'NRI Layout', 'ITPL', 'Babusapalaya',
       'Iblur Village', 'Ananth Nagar', 'Channasandra', 'Choodasandra',
       'Kaikondrahalli', 'Neeladri Nagar', 'Frazer Town', 'Cooke Town',
       'Doddakallasandra', 'Chamrajpet', 'Rayasandra', 'Pai Layout',
       'Banashankari Stage V', 'Sonnenahalli',
       '2nd Phase Judicial Layout', 'Poorna Pragna Layout',
       'Judicial Layout', 'Banashankari Stage II', 'Bannerghatta',
       'Marsur', 'Karuna Nagar', 'Bommenahalli', 'Laggere',
       'Prithvi Layout', 'Banaswadi', 'Sector 2 HSR Layout',
       'Shivaji Nagar', 'Badavala Nagar', 'Nagavarapalya', 'BTM Layout',
       'BTM 2nd Stage', 'Hoskote', 'Doddaballapur', 'Sarakki Nagar',
       'Thyagaraja Nagar', 'Bharathi Nagar', 'Benson Town',
       'Kadubeesanahalli'], dtype=object)

In [37]:
df.head(400)

                     location  bath  balcony   price  bhk    area
0    Electronic City Phase II   2.0      1.0   39.07  2.0  1056.0
1            Chikka Tirupathi   5.0      3.0  120.00  4.0  2600.0
2                 Uttarahalli   2.0      3.0   62.00  3.0  1440.0
3          Lingadheeranahalli   3.0      1.0   95.00  3.0  1521.0
4                    Kothanur   2.0      1.0   51.00  2.0  1200.0
..                        ...   ...      ...     ...  ...     ...
414            Kanakpura Road   3.0      3.0   64.50  3.0  1550.0
415                    others   3.0      2.0   88.00  3.0  1760.0
416              Billekahalli   2.0      2.0   62.00  2.0  1125.0
417                Nagarbhavi   3.0      2.0  150.00  3.0  1350.0
418                Anandapura   2.0      1.0   55.00  2.0  1000.0

[400 rows x 6 columns]

In [38]:
df.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli',
       'Lingadheeranahalli', 'Kothanur', 'Whitefield', 'Marathahalli',
       '7th Phase JP Nagar', 'Gottigere', 'Sarjapur', 'Mysore Road',
       'Bisuvanahalli', 'Raja Rajeshwari Nagar', 'others', 'Kengeri',
       'Binny Pete', 'Thanisandra', 'Bellandur', 'Electronic City',
       'Ramagondanahalli', 'Yelahanka', 'Hebbal', 'Kanakpura Road',
       'Electronics City Phase 1', 'Kundalahalli', 'Chikkalasandra',
       'Sarjapur  Road', 'Doddathoguru', 'KR Puram', 'Bhoganhalli',
       'Lakshminarayana Pura', 'Begur Road', 'Murugeshpalya', 'Varthur',
       'Bommanahalli', 'Gunjur', 'Hegde Nagar', 'Haralur Road',
       'Hennur Road', 'Kothannur', 'Kalena Agrahara', 'Kaval Byrasandra',
       'ISRO Layout', 'Garudachar Palya', 'EPIP Zone', 'Dasanapura',
       'Kasavanhalli', 'Rajaji Nagar', 'Sanjay nagar', 'Domlur',
       'Sarjapura - Attibele Road', 'Yeshwanthpur', 'Chandapura',
       'Nagarbhavi', 'Devanahalli', 'Ramamurthy Nagar', 'Malleshwaram',
       'Akshaya Nagar', 'Shampura', 'Kadugodi', 'LB Shastri Nagar',
       'Hormavu', 'Vishwapriya Layout', 'Kudlu Gate',
       '8th Phase JP Nagar', 'Bommasandra Industrial Area', 'Anandapura',
       'Vishveshwarya Layout', 'Kengeri Satellite Town', 'Kannamangala',
       ' Devarachikkanahalli', 'Hulimavu', 'Mahalakshmi Layout',
       'Hosa Road', 'Attibele', 'CV Raman Nagar', 'Kumaraswami Layout',
       'Nagavara', 'Hebbal Kempapura', 'Vijayanagar',
       'Pattandur Agrahara', 'HSR Layout', 'Nagasandra', 'Kogilu',
       'Panathur', 'Padmanabhanagar', '1st Block Jayanagar',
       'Kammasandra', 'Dasarahalli', 'Magadi Road', 'Koramangala',
       'Dommasandra', 'Budigere', 'Kalyan nagar', 'OMBR Layout',
       'Horamavu Agara', 'Ambedkar Nagar', 'Talaghattapura', 'Balagere',
       'Jigani', 'Gollarapalya Hosahalli', 'Old Madras Road',
       'Kaggadasapura', '9th Phase JP Nagar', 'Jakkur', 'TC Palaya',
       'Giri Nagar', 'Singasandra', 'AECS Layout', 'Mallasandra', 'Begur',
       'JP Nagar', 'Malleshpalya', 'Munnekollal', 'Kaggalipura',
       '6th Phase JP Nagar', 'Ulsoor', 'Thigalarapalya',
       'Somasundara Palya', 'Basaveshwara Nagar', 'Bommasandra',
       'Ardendale', 'Harlur', 'Kodihalli', 'Narayanapura',
       'Bannerghatta Road', 'Hennur', '5th Phase JP Nagar', 'Kodigehaali',
       'Billekahalli', 'Jalahalli', 'Anekal', 'Sompura', 'Dodda Nekkundi',
       'Hosur Road', 'Battarahalli', 'Sultan Palaya', 'Ambalipura',
       'Hoodi', 'Brookefield', 'Yelenahalli', 'Vittasandra',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Amruthahalli',
       'Subramanyapura', 'Basavangudi', 'Kenchenahalli', 'Banjara Layout',
       'Kereguddadahalli', 'Kambipura', 'Banashankari Stage III',
       'Sector 7 HSR Layout', 'Rajiv Nagar', 'Arekere', 'Mico Layout',
       'Kammanahalli', 'Banashankari', 'Chikkabanavar', 'HRBR Layout',
       'Kanakapura', 'Konanakunte', 'Margondanahalli', 'R.T. Nagar',
       'Tumkur Road', 'Vasanthapura', 'GM Palaya', 'Mahadevpura',
       'Jalahalli East', 'Hosakerehalli', 'Indira Nagar',
       'Kodichikkanahalli', 'Varthur Road', 'Anjanapura', 'Abbigere',
       'Tindlu', 'Gubbalala', 'Parappana Agrahara', 'Cunningham Road',
       'Kudlu', 'Old Airport Road', 'Banashankari Stage VI', 'Cox Town',
       'Kathriguppe', 'HBR Layout', 'Yelahanka New Town',
       'Sahakara Nagar', 'Rachenahalli', 'Yelachenahalli',
       'Kasturi Nagar', 'Green Glen Layout', 'Thubarahalli',
       'Horamavu Banaswadi', '1st Phase JP Nagar', 'NGR Layout',
       'Seegehalli', 'BEML Layout', 'NRI Layout', 'ITPL', 'Babusapalaya',
       'Iblur Village', 'Ananth Nagar', 'Channasandra', 'Choodasandra',
       'Kaikondrahalli', 'Neeladri Nagar', 'Frazer Town', 'Cooke Town',
       'Doddakallasandra', 'Chamrajpet', 'Rayasandra', 'Pai Layout',
       'Banashankari Stage V', 'Sonnenahalli',
       '2nd Phase Judicial Layout', 'Poorna Pragna Layout',
       'Judicial Layout', 'Banashankari Stage II', 'Bannerghatta',
       'Marsur', 'Karuna Nagar', 'Bommenahalli', 'Laggere',
       'Prithvi Layout', 'Banaswadi', 'Sector 2 HSR Layout',
       'Shivaji Nagar', 'Badavala Nagar', 'Nagavarapalya', 'BTM Layout',
       'BTM 2nd Stage', 'Hoskote', 'Doddaballapur', 'Sarakki Nagar',
       'Thyagaraja Nagar', 'Bharathi Nagar', 'Benson Town',
       'Kadubeesanahalli'], dtype=object)

In [39]:
dummies=pd.get_dummies(df.location)

In [40]:
dummies

,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df=pd.concat([df,dummies],axis=1)
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df=df[(df.area/df.bhk>300)]
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
df["persq"]=(df.price*100000)/df.area

C:\Users\soumy\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10407.336319
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [45]:
mean=6122.582987
std=3895.257533

mean-std

2227.325454

In [46]:
df.persq.describe()

count     11847.000000
mean       6122.582987
std        3895.257533
min         267.829813
25%        4187.716982
50%        5227.272727
75%        6750.000000
max      176470.588235
Name: persq, dtype: float64

# average rooms are supposed to be minimum 300 and we have to remove outliers##

In [47]:
dfp=df[mean-std<df.persq ]
dfp

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13318,Padmanabhanagar,4.0,1.0,488.00,4.0,4689.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10407.336319
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [48]:
df=dfp[df.persq<mean+std ]
df

C:\Users\soumy\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4237.918216
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [49]:

df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4237.918216
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [50]:
df.persq.describe()

count    10811.000000
mean      5302.477381
std       1591.662966
min       2248.126561
25%       4100.505063
50%       5033.557047
75%       6283.269663
max      10017.574692
Name: persq, dtype: float64

In [51]:
df=df[df.bath<=df.bhk+2]
df

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others,persq
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3699.810606
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4615.384615
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4305.555556
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6245.890861
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4237.918216
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6530.612245
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6689.834926
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5258.545136
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3090.909091

In [52]:
df.drop(["persq"],axis=1,inplace=True)
df

C:\Users\soumy\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,location,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,Uttarahalli,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,Green Glen Layout,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,Whitefield,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,1.0,1.0,17.00,1.0,550.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df.bath.describe(),df.bhk.describe(),df.area.describe()

(count    10808.000000
 mean         2.411454
 std          0.904594
 min          1.000000
 25%          2.000000
 50%          2.000000
 75%          3.000000
 max         13.000000
 Name: bath, dtype: float64,
 count    10808.000000
 mean         2.520910
 std          0.844496
 min          1.000000
 25%          2.000000
 50%          2.000000
 75%          3.000000
 max         13.000000
 Name: bhk, dtype: float64,
 count    10808.000000
 mean      1450.402856
 std        749.854054
 min        340.000000
 25%       1100.000000
 50%       1260.000000
 75%       1600.000000
 max      30400.000000
 Name: area, dtype: float64)

In [54]:
from sklearn import linear_model
model=linear_model.LinearRegression()

In [55]:
df.drop(["location"],axis=1,inplace=True)
df

C:\Users\soumy\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,2.0,1.0,39.07,2.0,1056.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,4.0,2600.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,3.0,1440.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,3.0,1521.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,2.0,1200.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,1.0,57.00,3.0,1345.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,112.00,3.0,1715.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,0.0,231.00,5.0,3453.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,2.0,1.0,60.00,2.0,1141.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,17.00,1.0,550.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
x=df.drop(["price"],axis=1)
x

,bath,balcony,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,2.0,1.0,2.0,1056.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,4.0,2600.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,3.0,1440.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,3.0,1521.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,2.0,1200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,1.0,3.0,1345.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,3.0,1715.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,0.0,5.0,3453.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13317,2.0,1.0,2.0,1141.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,1.0,550.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
x.drop(["others"],axis=1,inplace=True)
x

,bath,balcony,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2.0,1.0,2.0,1056.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,4.0,2600.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,3.0,1440.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,3.0,1521.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,2.0,1200.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,1.0,3.0,1345.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,3.0,1715.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,0.0,5.0,3453.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13317,2.0,1.0,2.0,1141.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,1.0,550.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
x.drop(["balcony"],axis=1,inplace=True)
x

,bath,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2.0,2.0,1056.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,4.0,2600.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,1440.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,3.0,1521.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13313,2.0,3.0,1345.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13314,3.0,3.0,1715.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13315,4.0,5.0,3453.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13317,2.0,2.0,1141.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,1.0,1.0,550.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
df[df.price==df.price.max()]

,bath,balcony,price,bhk,area,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
12987,4.0,2.0,1824.0,6.0,30400.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [59]:
y=df.price
y
from sklearn.model_selection import train_test_split
xtr,xts,ytr,yts=train_test_split(x,y,random_state=0,test_size=0.5)

In [60]:
model.fit(xtr,ytr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
model.score(xtr,ytr),model.score(xts,yts)

(0.8233888705343974, 0.8409857555178667)

In [62]:
model.coef_

array([ 5.28925178e+00, -8.44838466e+00,  7.07775555e-02, -1.15239676e+01,
       -1.23423938e-09,  3.00836302e+01, -1.68952505e+01, -1.09654033e+01,
       -5.82555567e+00,  1.69736849e+01,  3.55980334e+00, -1.19322951e+01,
       -1.07876717e+01, -1.17864210e+01, -1.78092989e+01, -1.90934968e+00,
        1.69612139e+01,  1.45860808e+01,  3.21665947e+00, -7.64120850e+00,
       -1.33162930e+01, -7.61202044e+00, -3.09375455e+00, -3.69710035e-02,
        4.71098891e+00, -1.22548986e+01,  2.26218672e+01,  8.53164176e+00,
        2.61383662e+00, -1.40280554e+01,  1.25016107e+01,  8.45376721e+00,
       -1.86461202e+00,  3.06805258e+01,  6.64469409e+00, -3.11676368e+01,
       -2.69187249e+01, -1.49592618e+00, -9.43495421e-01,  2.62959195e+01,
       -4.12220122e+00,  5.51679965e+01,  3.49532751e+01, -2.11479924e+01,
       -1.45011938e+01, -1.80862660e+01,  1.27262940e+00,  4.50013755e+01,
       -1.26553185e+01,  1.03302246e+01,  6.39906439e+00,  4.68590402e+01,
       -4.11929483e+00, -1.41657067e+01, -1.34747437e+01, -2.34389476e+01,
        4.87995357e+01,  2.57461571e+00, -9.62174572e+00,  9.86543955e+00,
        3.08551655e+01, -1.76456267e+01, -1.22677695e+01, -6.37086775e+01,
       -5.83083655e+01, -1.17480929e+01, -2.65228523e+00,  1.16112939e+01,
        2.92799611e+01,  1.23723254e-12, -3.42715608e+00, -1.11368148e+00,
       -3.56241913e-01, -5.59791028e+00,  6.39979765e+00, -1.60339631e+01,
       -1.33935338e+01,  3.37724236e+01, -3.79067418e+01,  1.03298364e+01,
       -7.40082745e+00, -1.78692838e+01, -6.59525896e+00,  7.32770909e+01,
       -5.39062898e+00,  2.54220342e+00, -3.30537578e+00, -1.75692681e+01,
       -1.28535853e+01,  1.50195825e+01, -1.23730804e+00, -1.73037272e+01,
        4.58741939e+00,  1.20504121e+01, -4.10487623e+00, -3.57413845e+00,
        1.04373152e+01,  2.60809489e+01,  3.53689572e+01,  1.38239555e+01,
       -8.57109981e+00,  7.78918456e+00,  4.55468003e+00, -8.23403738e+00,
       -1.58070944e+01, -9.62513072e+00, -4.19233199e+00, -6.10073409e+00,
       -2.79382489e+01,  6.04785102e+00,  5.78417132e+00, -1.40323179e+01,
       -2.22533497e+01,  2.94584670e+01,  3.80736468e+01,  3.76971973e+00,
        1.13406148e+01,  1.19252607e+01, -1.83511137e+00,  3.10185237e+00,
        3.92881066e+00, -1.37310720e+01,  4.95652702e+00, -8.37041750e+00,
       -1.13918151e+01,  7.17686386e+00,  4.87826439e+00,  3.92029083e+00,
       -3.19841730e+01,  6.23852062e-01,  1.68068100e+01, -1.87944011e+01,
       -7.03182451e+00, -1.29775877e+00,  3.39272593e+00,  2.78745595e+01,
        3.02524281e+00,  9.31403763e+00,  1.27700004e+01, -2.12501859e+00,
        3.73881667e+00, -5.15339734e+00, -8.38003469e+00, -2.44289107e+01,
       -8.32428949e+00, -5.21507944e+00,  1.09821901e+01,  1.53856111e+00,
        3.78721996e+00,  2.31979191e+01, -2.15697511e+01, -9.33551732e+00,
       -5.48704766e+00,  6.07772785e-01,  2.62873000e+00,  2.92041112e+01,
       -6.08469674e+00, -1.81485953e+01,  1.98044892e+01,  1.81946462e+01,
        6.53960757e+00, -1.57731023e+00,  3.74128052e+01, -1.29859784e+01,
       -4.24587421e+00,  4.52707850e+01,  6.50218370e-01, -1.77936798e+00,
        1.95399252e-14, -7.96777522e+00, -4.09098523e+01,  1.81580769e+00,
        2.83146171e+00, -6.61393659e+00, -1.25225989e+01, -7.25574162e-01,
        1.31259966e+01, -1.26249557e+01,  2.58122664e+01, -6.58501834e+00,
       -1.54955513e+01,  1.88046288e+01,  2.55464655e+01,  1.70923607e+00,
        6.00773916e+00, -7.70979887e+00,  5.37109936e+00, -1.77212418e+01,
       -6.55079189e+00, -1.07180622e+01,  1.71781411e+01,  9.22768973e+00,
        4.83059868e-01, -1.75218850e+01,  4.10657320e+01,  5.74312975e+00,
        1.79054594e+00, -9.48802051e+00, -1.18297595e+01,  7.97158054e+00,
        6.53034431e+00,  2.30926389e-14, -1.00109942e+01,  7.94652795e+00,
       -1.77787514e+01,  9.81112791e+00,  4.93510757e+01, -4.40421003e+00,
       -3.03095728e+01,  2.57550675e+01, -8.73042415e+00, -6.07597907e+00,
       -9.92022412e+00, -1.03238348e+01,  4.26356206e+00, -3.41950061e+00,
       -5.52161699e-01, -1.14273388e-01, -4.18135611e+00,  2.47324333e+01,
        4.97977435e+00,  2.38608613e+01, -1.45679670e+01,  7.45010177e+00,
        1.23480418e+01, -1.32363931e+01, -2.34912911e+00, -1.10680325e+01,
       -1.47651388e+01, -1.74839755e+01,  9.35890618e+00, -1.79052340e+01,
       -7.71931954e+00, -4.96274581e+00,  1.71220018e+00, -5.34814783e+00,
       -6.09586993e+00, -3.50038121e+00, -1.92010769e+01,  1.21657512e+01])

In [63]:
model.intercept_

-13.44147982269044

In [64]:
len(x.columns)

240

In [65]:
x.columns

Index(['bath', 'bhk', 'area', ' Devarachikkanahalli', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Phase JP Nagar', '6th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=240)

In [66]:

ypre=model.predict(xts)  
ypre,yts
len(yts)

5404

In [67]:

from sklearn.metrics import mean_squared_error
mse=mean_squared_error(yts,ypre)
mse

594.7366032423147

In [68]:
def premodel (bath,bhk,area,location):
    p=np.zeros(240)
    p[0]=bath
    p[1]=bhk
    p[2]=area
    for i in range(239):
        if x.columns[i]==location:
            p[i]=1
    return model.predict([p])

In [69]:
premodel(3,4,3500, 'Vittasandra')

array([211.3914352])

In [70]:
from sklearn.neighbors import KNeighborsRegressor
model2=KNeighborsRegressor()

In [71]:
model2.fit(xtr,ytr)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [72]:
def premodel2 (bath,bhk,area,location):
    p=np.zeros(240)
    p[0]=bath
    p[1]=bhk
    p[2]=area
    for i in range(239):
        if x.columns[i]==location:
            p[i]=1
    return model2.predict([p])

In [73]:
premodel2(3,2,4850,'Vittasandra')

array([300.4])

In [74]:
model2.score(xtr,ytr),model2.score(xts,yts)

(0.8429227277885449, 0.746375322410673)

In [75]:
ypre2=model2.predict(xts)
mean_squared_error(yts,ypre2)

948.593503299963

In [76]:
import pickle
with open('banglore price model.pickle','wb')as m:
    pickle.dump(model,m)

In [77]:
import pickle
with open('banglore price model2.pickle','wb')as m2:
    pickle.dump(model2,m2)

In [78]:
from sklearn.linear_model import Ridge,Lasso
modr=Ridge(alpha=2)
modl=Lasso(alpha=4)

In [79]:
modr.fit(xtr,ytr)
modr.score(xtr,ytr),modr.score(xts,yts)

(0.8219338705706531, 0.8430121436520354)

In [80]:
modl.fit(xtr,ytr)
modl.score(xtr,ytr),modl.score(xts,yts)

(0.773166260873236, 0.8147869277215876)

In [81]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2)
polx=poly.fit(xtr)
xm=poly.transform(xtr)
xmt=poly.transform(xts)

In [82]:
from sklearn.linear_model import LinearRegression
mpoly=LinearRegression()
mpoly.fit(xm,ytr)
mpoly.score(xm,ytr),mpoly.score(xmt,yts)

(0.8843849621858173, -47.07765411938526)

In [83]:
len(y),len(x)

(10808, 10808)

In [84]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
m=LinearRegression()
kf=KFold(n_splits=5)
z=[]
k=[]
for train,test in kf.split(x):
    z.append(train),k.append(test)
    xtrain,xtest,ytrain,ytest=x.iloc[train,:],x.iloc[test,:],y.iloc[train],y.iloc[test]
    m.fit(xtrain,ytrain)
    print(m.score(xtrain,ytrain),m.score(xtest,ytest))

0.8342878652503553 0.8428912641403568
0.8429542107768814 0.8052298342675416
0.8439484687432435 0.7935282611455182
0.8384693075488818 0.8259716740660015
0.8299011428558849 0.8512320096310952

In [85]:
z[4]

array([   0,    1,    2, ..., 8644, 8645, 8646])

# we have got indicies that gives best trainning

In [86]:
m.fit(x.iloc[z[4],:],y.iloc[z[4]])
m.score(x.iloc[z[4],:],y.iloc[z[4]]),m.score(xts,yts)
#this clearly indicates for every test case this fold has great accuracy

(0.8299011428558849, 0.851106968865979)

In [87]:
ycurrent=m.predict(xts)
ycurrent

array([ 65.16696704,  73.04834775,  58.62260627, ...,  83.31512474,
       133.78970823,  50.58145805])

In [88]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(yts,ycurrent)
mse

556.8817804435723

In [89]:
from sklearn.linear_model import Ridge,Lasso
modr=Ridge(alpha=2)
modl=Lasso(alpha=4)

In [90]:
modr.fit(x.iloc[z[4],:],y.iloc[z[4]])
modr.score(x.iloc[z[4],:],y.iloc[z[4]]),modr.score(xts,yts)

(0.8292471731631714, 0.8507706515211354)

In [91]:
def final_model (bath,bhk,area,location):
    p=np.zeros(240)
    p[0]=bath
    p[1]=bhk
    p[2]=area
    for i in range(3,239):
        if x.columns[i]==location:
            p[i]=1
            print(i)
    return modr.predict([p])

In [92]:
final_model(3,3,4850,"Talaghattapura")

217

array([323.51928498])

In [93]:
import pickle
with open('final_model_pickle','wb') as file:
    pickle.dump(modr,file)

In [94]:
import json
loc={"locations_data":[str(x) for x in x.columns]}

In [95]:
s=json.dumps(loc)
s

'{"locations_data": ["bath", "bhk", "area", " Devarachikkanahalli", "1st Block Jayanagar", "1st Phase JP Nagar", "2nd Phase Judicial Layout", "2nd Stage Nagarbhavi", "5th Phase JP Nagar", "6th Phase JP Nagar", "7th Phase JP Nagar", "8th Phase JP Nagar", "9th Phase JP Nagar", "AECS Layout", "Abbigere", "Akshaya Nagar", "Ambalipura", "Ambedkar Nagar", "Amruthahalli", "Anandapura", "Ananth Nagar", "Anekal", "Anjanapura", "Ardendale", "Arekere", "Attibele", "BEML Layout", "BTM 2nd Stage", "BTM Layout", "Babusapalaya", "Badavala Nagar", "Balagere", "Banashankari", "Banashankari Stage II", "Banashankari Stage III", "Banashankari Stage V", "Banashankari Stage VI", "Banaswadi", "Banjara Layout", "Bannerghatta", "Bannerghatta Road", "Basavangudi", "Basaveshwara Nagar", "Battarahalli", "Begur", "Begur Road", "Bellandur", "Benson Town", "Bharathi Nagar", "Bhoganhalli", "Billekahalli", "Binny Pete", "Bisuvanahalli", "Bommanahalli", "Bommasandra", "Bommasandra Industrial Area", "Bommenahalli", "Brookefield", "Budigere", "CV Raman Nagar", "Chamrajpet", "Chandapura", "Channasandra", "Chikka Tirupathi", "Chikkabanavar", "Chikkalasandra", "Choodasandra", "Cooke Town", "Cox Town", "Cunningham Road", "Dasanapura", "Dasarahalli", "Devanahalli", "Dodda Nekkundi", "Doddaballapur", "Doddakallasandra", "Doddathoguru", "Domlur", "Dommasandra", "EPIP Zone", "Electronic City", "Electronic City Phase II", "Electronics City Phase 1", "Frazer Town", "GM Palaya", "Garudachar Palya", "Giri Nagar", "Gollarapalya Hosahalli", "Gottigere", "Green Glen Layout", "Gubbalala", "Gunjur", "HBR Layout", "HRBR Layout", "HSR Layout", "Haralur Road", "Harlur", "Hebbal", "Hebbal Kempapura", "Hegde Nagar", "Hennur", "Hennur Road", "Hoodi", "Horamavu Agara", "Horamavu Banaswadi", "Hormavu", "Hosa Road", "Hosakerehalli", "Hoskote", "Hosur Road", "Hulimavu", "ISRO Layout", "ITPL", "Iblur Village", "Indira Nagar", "JP Nagar", "Jakkur", "Jalahalli", "Jalahalli East", "Jigani", "Judicial Layout", "KR Puram", "Kadubeesanahalli", "Kadugodi", "Kaggadasapura", "Kaggalipura", "Kaikondrahalli", "Kalena Agrahara", "Kalyan nagar", "Kambipura", "Kammanahalli", "Kammasandra", "Kanakapura", "Kanakpura Road", "Kannamangala", "Karuna Nagar", "Kasavanhalli", "Kasturi Nagar", "Kathriguppe", "Kaval Byrasandra", "Kenchenahalli", "Kengeri", "Kengeri Satellite Town", "Kereguddadahalli", "Kodichikkanahalli", "Kodigehaali", "Kodihalli", "Kogilu", "Konanakunte", "Koramangala", "Kothannur", "Kothanur", "Kudlu", "Kudlu Gate", "Kumaraswami Layout", "Kundalahalli", "LB Shastri Nagar", "Laggere", "Lakshminarayana Pura", "Lingadheeranahalli", "Magadi Road", "Mahadevpura", "Mahalakshmi Layout", "Mallasandra", "Malleshpalya", "Malleshwaram", "Marathahalli", "Margondanahalli", "Marsur", "Mico Layout", "Munnekollal", "Murugeshpalya", "Mysore Road", "NGR Layout", "NRI Layout", "Nagarbhavi", "Nagasandra", "Nagavara", "Nagavarapalya", "Narayanapura", "Neeladri Nagar", "OMBR Layout", "Old Airport Road", "Old Madras Road", "Padmanabhanagar", "Pai Layout", "Panathur", "Parappana Agrahara", "Pattandur Agrahara", "Poorna Pragna Layout", "Prithvi Layout", "R.T. Nagar", "Rachenahalli", "Raja Rajeshwari Nagar", "Rajaji Nagar", "Rajiv Nagar", "Ramagondanahalli", "Ramamurthy Nagar", "Rayasandra", "Sahakara Nagar", "Sanjay nagar", "Sarakki Nagar", "Sarjapur", "Sarjapur  Road", "Sarjapura - Attibele Road", "Sector 2 HSR Layout", "Sector 7 HSR Layout", "Seegehalli", "Shampura", "Shivaji Nagar", "Singasandra", "Somasundara Palya", "Sompura", "Sonnenahalli", "Subramanyapura", "Sultan Palaya", "TC Palaya", "Talaghattapura", "Thanisandra", "Thigalarapalya", "Thubarahalli", "Thyagaraja Nagar", "Tindlu", "Tumkur Road", "Ulsoor", "Uttarahalli", "Varthur", "Varthur Road", "Vasanthapura", "Vidyaranyapura", "Vijayanagar", "Vishveshwarya Layout", "Vishwapriya Layout", "Vittasandra", "Whitefield", "Yelachenahalli", "Yelahanka", "Yelahanka New Town", "Yelenahalli", "Yeshwanthpur"]}'